@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
body {
  font-family: sans-serif;
}
:root {
  --primary: #111;
  --secondary: #fff;
  --text-default: #fff;
  --verified-text: #0f0;
  --unverified-text: rgb(190, 179, 179);
}
